# {{ ansible_managed }}
KUBELET_ADDRESS="--address=0.0.0.0"
KUBELET_ARGS="--register-node=true --pod-manifest-path=/etc/kubernetes/manifests --register-schedulable=true --allow-privileged=false"
KUBELET_API_SERVER="--api-servers=http://127.0.0.1:8080"
KUBELET_POD_INFRA_CONTAINER="--pod-infra-container-image={{ repo_name }}pod-infrastructure:latest"
