apiVersion: v1
kind: Pod
metadata:
  name: etcd-server
spec:
  hostNetwork: true
  containers:
  - name: etcd-container
    image: rhel7/etcd3
    env:
    - name: NAME
      value: {{ pod_name }}
    - name: ETCD_NAME
      value: {{ pod_name }}
    - name: ETCD_INITIAL_ADVERTISE_PEER_URLS
      value: http://{{ node_ip }}:2380,http://{{ node_ip }}:7001
    - name: ETCD_LISTEN_PEER_URLS
      value: http://{{ node_ip }}:2380,http://{{ node_ip }}:7001
    - name: ETCD_ADVERTISE_CLIENT_URLS
      value: http://{{ node_ip }}:2379,http://{{ node_ip }}:4001
    - name: ETCD_LISTEN_CLIENT_URLS
      value: http://{{ node_ip }}:2379,http://{{ node_ip }}:4001,http://127.0.0.1:2379
    - name: ETCD_DATA_DIR
      value: {{ etc_data }}
    - name: DISCOVERY_TOKEN
      value: {{ etcd_guid_file_content }}
    command:
    - /usr/bin/etcd
    - --name
    - '{{ pod_name }}'
    - --listen-peer-urls
    - 'http://{{ node_ip }}:2380,http://{{ node_ip }}:7001'
    - --advertise-client-urls
    - 'http://{{ node_ip }}:2379,http://{{ node_ip }}:4001'
    - --listen-client-urls
    - 'http://{{ node_ip }}:2379,http://{{ node_ip }}:4001,http://127.0.0.1:2379,http://127.0.0.1:4001'
    - --data-dir
    - '{{ etc_data }}'
    - --discovery
    - '{{ etcd_guid_file_content }}'
    volumeMounts:
    - mountPath: '{{ etc_data }}'
      name: var-data
    - mountPath: /etc/ssl
      name: etc-ssl
  volumes:
  - hostPath:
      path: '{{ etc_data }}'
    name: var-data
  - hostPath:
      path: /etc/ssl
    name: etc-ssl
