KUBELET_ADDRESS="--address=127.0.0.1"
KUBELET_ARGS="--register-node=true --pod-manifest-path=/etc/kubernetes/manifests --register-schedulable=true --allow-privileged=true"
KUBELET_API_SERVER="--api-servers=http://127.0.0.1:8080"
KUBELET_POD_INFRA_CONTAINER="--pod-infra-container-image=registry.access.redhat.com/rhel7/pod-infrastructure:latest"
